@font-face {
  font-family: 'PragSymbIosLiga'; /* Define the custom font name */
  src:  local('Symbola');
  unicode-range: U+1D41A-1D433,U+1D44E-1D467,U+1D482-1D49B,U+1D4C1,U+1D4EA-1D503,U+1D51E-1D537,U+1D552-1D56B,U+1D586-1D59F,U+1D656-1D66F,U+1D6C2-1D6E1,U+1D6FC-1D714,U+1D716-1D71B,U+1D736-1D755;
}

@font-face {
  font-family: 'PragSymbIosLiga'; /* Define the custom font name */
  font-style: normal;
  font-weight: 400;
  src:  local('PragmataPro Mono');
}

@font-face {
  font-family: 'PragSymbIosLiga'; /* Define the custom font name */
  font-style: italic;
  font-weight: 400;
  src:  local('Iosevka Fixed');
}

@font-face {
  font-family: 'PragSymbIosLiga'; /* Define the custom font name */
  font-style: normal;
  font-weight: 800;
  src:  local('Iosevka Fixed');
}

@font-face {
  font-family: 'PragSymbIosLiga'; /* Define the custom font name */
  font-style: italic;
  font-weight: 800;
  src:  local('Iosevka Fixed');
}

